{% block subject %}
    Консультация отменена
{% endblock %}
{% block body %}
    <p>{{ clientName }}, Вы отменили консультацию {{ date }} в {{ time }}.</p>
    <p>Врач {{ specialization }} {{ employeeName }}</p>
{% endblock %}
