{% block subject %}
    Новая запись на консультацию
{% endblock %}
{% block body %}
    <p>{{ clientName }}, Вы записаны на консультацию {{ date }} в {{ time }}.</p>
    <p>Врач {{ specialization }} {{ employeeName }}</p>
{% endblock %}
