{% block subject %}
    Необходимо оплатить консультацию
{% endblock %}
{% block body %}
    <p>{{ clientName }}, вы подали заявку на посещение консультации у врача по специальности {{ specialization }}</p>
    <p>ФИО врача: {{ employeeName }}</p>
    <p>Дата и время проведения: {{ date }} в {{ time }}</p>
    <p>Для того, чтобы подтвердить консультацию - оплатите, пожалуйста, в личном кабинете: {{ orderUri }} </p>
{% endblock %}
